.welcome{
    background-color: rgb(37, 205, 37);
    color: aliceblue;
    margin: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    border-radius: 10px;
}
.login{
    background-color: rgb(185, 25, 25);
    color: aliceblue;
    margin: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    border-radius: 10px;
}