.color-picker-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color-display{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    border: 3px solid rgb(112, 111, 111);
    border-radius: 10px;
    transition: 0.25 ease;
}
label{
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="color"]{
    padding: 1px 2px;
    
}
.color-display p{
    color: rgb(102, 101, 101);
}